<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>resetpassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <p>Entrez votre Email pour récuperer votre mot de passe</p>
  </ion-item>

  <ion-item >
    <ion-label color="tertiary">Email</ion-label>
    <ion-input color="tertiary" type="mail" placeholder="Adresse email"></ion-input>
  </ion-item>

  <ion-button color="tertiary" expand="block" shape="round" fill="outline">Envoyer</ion-button>

</ion-content>
