
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="logo">
    <ion-icon name="person-circle-outline"></ion-icon>
  </div>

  
    <ion-button routerLink="/login" color="tertiary" expand="block" shape="round" fill="outline">Connexion</ion-button>
  


    <ion-button routerLink="/register" color="tertiary" expand="block" shape="round">Inscription</ion-button>
  
  

    <ion-item lines="none">
      <ion-button routerLink="/resetpassword" color="tertiary" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
    </ion-item>

    <div class="gauche">
      <ion-item lines="none">
        <ion-button routerLink="/forgotpassword" color="tertiary" fill="clear">Ré-initialisez votre mot de passe</ion-button>
      </ion-item>
    </div>
  

</ion-content>
