<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Créez votre compte</h3>
  <ion-item >
    <ion-label color="tertiary">Nom</ion-label>
    <ion-input color="tertiary" type="text" [(ngModel)]="dataUser.nom" placeholder="Tapez votre nom"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label color="tertiary">Prenom</ion-label>
    <ion-input color="tertiary" type="text" [(ngModel)]="dataUser.prenom" placeholder="Tapez votre prenom"></ion-input>
  </ion-item>  

  <ion-item >
    <ion-label color="tertiary">Email</ion-label>
    <ion-input color="tertiary" type="mail" [(ngModel)]="dataUser.email" placeholder="Adresse email"></ion-input>
  </ion-item>

  <ion-item>
  <ion-label color="tertiary">Mot de passe:</ion-label>
  <ion-input color="tertiary" type="password" [(ngModel)]="dataUser.password"></ion-input>
</ion-item>

  <ion-button expand="block" color="tertiary" (click)="signUp()">S'nscrire</ion-button>

</ion-content>
